<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/login">Login</a><span> | </span>
    <a href="/users/signup">Sign Up</a><span> | </span>
    <a href="/private">Private do not touch</a><span> | </span>
    <a href="/main">Funny</a><span> | </span>
    <a href="/users/logout">Logout</a>
    <hr>
    {{{body}}}
  </body>
</html>
